@import "tailwindcss";

body {
    background-color: #90EE90;
}

#container {
    text-align: center;
    margin-top: 2rem;
}

#game-canvas {
  border: 3px solid black;
  margin: auto;
}

.scoreText {
    font-size: 50px;
    color: black;
}

.button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  width: 100px;
  height: 40px;
  border: 3.5px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.808);
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.493);
}

.difficulty {
    display:block;
    margin: auto;
    margin-top: 1rem;
}

#restart-button {
    margin-top: 1rem;
}

.start {
    background-color: #29e429;
}

.restart {
    background-color: #EE90EE;
}

#restart-button:hover {
  background-color:#ee90ee85;
}

#score-text {
    font-family:'Times New Roman', Times, serif;
    margin-top: -1rem;
}

#score-text::before {
    content: "🍎: ";
}

#highscore-text{
    font-family: 'Courier New', Courier, monospace;
}

#highscore-text::before {
    content: "HIGHSCORE: "
}

#reset-highscore-button {
    position: absolute;
    top: 10;
    left: 8rem;
    height: 4rem;
    background-color: rgb(253, 108, 108);
}

#menu-button {
    position: absolute;
    top: 10;
    left: 10;
    height: 4rem;
}

#open-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.open-button {
    /*
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 150px);
    width: 150px;
    */
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 5rem;
}

.open-button:last-of-type {
    margin-top: 0.5rem;
}

#open-header {
    font-size: 64px;
    margin: 7rem;
}

#open-screen {
    z-index: 99;
}

#game-handler {
    text-align: center;
}

.absolute {
    display: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgb(241, 189, 189);
    width: calc(100vw - 1rem);
    height: calc(100vh - 1rem);
}

.white {
    background-color: white;
    margin: 1rem;
}